.root {
  padding: 0 20px;
}

.heading {
  font-family: 10px;
  color: var(--main-orange);
  margin-bottom: 0;
  font-weight: 700;
}

.subHeading {
  font-size: 25px;
  margin-top: 5px;
  font-weight: 700; 
}

.text {
  color: var(--dark-gray-blue);
}

@media screen and (min-width: 900px) {
  .root {
    padding: 0;
  }
}