.root {
  display: none;
  position: absolute;
  z-index: 1001;
  top: 90px;
  left: 10px;
}

.open {
  display: flex;
}

.basketContainer {
  position: relative;
  height: 200px;
  width: 95vw;
  margin: 0 auto;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 7px 10px 1px #000000;
}

.headingContainer {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--dark-gray-blue);
}

.heading {
  margin-left: 20px;
  margin-bottom: 0;
}

.products {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.emptyBasket {
  text-align: center;
}

@media screen and (min-width: 900px) {
  .root {
    left: 0;
    right: 10px;
    top: 75px;
  }

  .basketContainer {
    width: 25vw;
    box-shadow: 1px 5px 20px 0.5px #000000;
    margin-right: 80px;
  }
}