.root {
  display: flex;
  align-self: flex-end;
  width: 40px;
  height: 20px;
}

.basketCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--main-orange);
  border-radius: 15px;
  height: 15px;
  padding: 2px 7px;
  bottom: 7px;
  right: 11px;
  font-size: 10px;
  color: var(--main-white);
}

@media screen and (min-width: 900px) {
  .root {
    margin-right: 15px;
  }
  
  .root:hover {
    cursor: pointer;
  }
}