.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-gray-blue);
  padding: 15px;
  border-radius: 15px;
}

.subtract:hover, .add:hover {
  cursor: pointer;
}

.items {
  font-size: 15px;
  font-weight: 700;
}

@media screen and (min-width: 900px) {
  .root {
    width: 60%;
    margin-top: 10px;
    margin-right: 10px;
  }
}