.root {
  padding: 25px 15px;
  display: flex;
  align-items: center;
}

.companyLogo {
  margin-left: 10px;
}

.navBar {
  display: none;
  list-style-type: none;
  justify-content: space-evenly;
}


.userBox {
  margin-left: auto;
}

.img {
  padding-left: 15px;
  width: 40px;
}

@media screen and (min-width: 900px) {
  .root {
    width: 85%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--dark-gray-blue);
  }

  .navBar {
    display: flex;
    justify-content: space-evenly;
    width: 35em;
  }

  .userBox {
    display: flex;
    align-items: center;
  }

  .userAvatar {
    width: 60px;
  }
}