.root {
  padding-bottom: 20px;
}

.imgContainer {
  width: 100%;
}

.productImg {
  width: 100%;
}

.productInfoContainer {
  padding: 0 20px;
}

@media screen and (min-width: 900px) {
  .root {
    display: flex;
    justify-content: space-around;
    margin: 30px 200px;
  }

  .imgContainer {
    width: 35%;
  }

  .productInfoContainer {
    width: 35vw;
  }

  .addCartContainer {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1500px) {
  .root {
    align-items: center;
    justify-content: space-evenly;
    padding-top: 150px;
  }

  .productInfoContainer {
    width: 30vw;
  }
}